
<div class="side-bar2">
  <!-- <div class="close-btn">
    <i class="fas fa-times"></i>
  </div> -->
  <div class="menu">
    <!-- <div class="item"><a href="/acesso"><i class="fas fa-desktop"></i>&nbspHome</a></div> -->
    <div class="item"><a href="/second"><i class="fas fa-desktop"></i>&nbspHome</a></div>
    <!-- <div class="item">
      <a class="sub-btn"><i class="fas fa-table"></i>&nbspRequisições<i class="fas fa-angle-right dropdown"></i></a>
      <div class="sub-menu2"> 
        <a href="/requisicao" class="sub-item2"><i class="fa-solid fa-list-ul"></i>&nbspRequisição de Materiais</a>
        <a href="/reqPend/" class="sub-item2"><i class="fa-sharp fa-solid fa-list-check"></i>&nbsp Requisições Pendentes</a>
      </div>
    </div> -->
    <div class="item">
      <a class="sub-btn"><i class="fa-sharp fa-solid fa-cart-shopping"></i>&nbspSolicitação de Compra<i class="fas fa-angle-right dropdown"></i></a>
      <div class="sub-menu2"> 
        <a onClick="solicitacaoCompra()" class="sub-item2"><i class="fa-sharp fa-solid fa-cart-shopping"></i>&nbsp Solicitação de Compra</a>
        <a onClick="paginaAprovador()" class="sub-item2"><i class="fa-solid fa-hourglass"></i>&nbsp Aguardando Aprovação</a>
        <a onClick="loginComprador()" class="sub-item2"><i class="fa-regular fa-bell"></i>&nbsp Solicitações Pendentes</a>
      </div>
    </div>
    <div class="item"><a href="#"><i class="fa-solid fa-palette"></i><s>&nbspSistema Pintura&nbsp</s></a></div>
    <div class="item"><a href="/consultaFPQ"><i class="fa-solid fa-magnifying-glass"></i>&nbspConsulta FPQ</a></div>
    <div class="item"><a onClick="newPopup()"><i class="fas fa-info-circle"></i>&nbsp Acionar o Processo</a></div>
    <div class="item"><a href="../"><i class="fa-sharp fa-solid fa-arrow-right-from-bracket"></i>&nbspSair</a></div>
    
  </div>
</div>

