<form action="acesso" method="post">
    <!-- Email input -->
    <div class="form-outline mb-4">
      <input type="text" id="formLoginUsuario" name="formLoginUsuario" class="form-control" placeholder="Usuário"/>
    </div>
  
    <!-- Password input -->
    <div class="form-outline mb-4">
      <input type="password" id="formLoginSenha" name="formLoginSenha" class="form-control" placeholder="Senha" />
    </div>
  
    <!-- 2 column grid layout for inline styling -->
    <div class="row mb-4" >  
      <div class="col" style="text-align: center;">
        <!-- Simple link -->
        <a  onClick="newPopup()" id="esqueciSenha">Esqueceu a senha?    Acione o processo.</a>
      </div>
    </div>
  
    <!-- Submit button -->
    <!-- <input type="hidden" name="name" value="value" />  -->
    <button type="hidden" class="btn btn-primary btn-block mb-4">Entrar</button>
  
  </form>