*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
#titulo {
    position: relative;
    margin-top: 40px;
    font-size: 100px !important;
    font-weight: bolder;
}   
#titulo_index {
    position: relative;
    margin-top: 100px;
    font-size: 100px !important;
    font-weight: bolder;
}   
nav a{
    color: hwb(0 98% 2%) !important;
}
#btn-nav {
    cursor: pointer;
}

#btn-nav:hover {
    background:  hwb(180 47% 49%);
}
.nav-item{
    padding: 0 1.5px !important;
}
html{
    overflow-y: hidden;
    overflow-x: hidden;
}
h1{
    font-weight: bold !important;
}
body,html{
    height: 100% !important;
    background: radial-gradient(#ffffff, #a8a8a8) !important;
    backface-visibility: hidden;
    /* background-size: cover; */
} 
body{
    overflow-x: hidden;
    overflow-y: visible;
}
.tab-content{
    position: relative;
    background-color: #ffffff;
    backface-visibility: hidden;
    border-radius: 10px;
    margin-top: -290px;
    margin-left: auto;
    margin-right: auto;
    line-height: 38px;
    width: 100%;
}
.table:hover{
    background-color: #a8a8a8;
}
.tam-linha{
    line-height: 38px !important;
    border-bottom: 1px solid rgb(167, 165, 165);
    width: 100%;
    top: 50% ;
    padding-bottom: 5px;
    padding-top: 5px;
}
.tam-input{
    line-height: 20px !important;
    width: 100%;
    height: 100%;
    top: 50% ;
    padding-bottom: 10px;
    padding-top: 10px;
}
#img_tec {
    width:213.333334px;/*image width*/
    height:37.3333334px;/*image height*/
    margin-top: 5%;
}
.container{
    text-align: center;
    margin: 40px auto;
    width: 70% !important;
}
.loginCompras{
    text-align: center !important;
}
.loginFormContainer{
    z-index: 0;
    margin: auto auto;
    margin-top: 4%;
    width: 20%;
    padding: 0;
}
#esqueciSenha {
    color: #0d6efd;
    cursor: pointer;
}
#input_field{
    margin-top: 3em;
}
#input_2{
    width: 40em;
}
#events {
    margin-bottom: 1em;
    padding: 1em;
    background-color: #f6f6f6;
    border: 1px solid #999;
    border-radius: 3px;
    height: 100px;
    overflow: auto;
}
#button-aprovar,#button-aprovar2{
    color: black;
    background-color: #ffffff;
    width: 9em;
    height: 3em;
}
#button-aprovar:hover, #button-aprovar2:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 131, 39)
}
#button-rejeitar, #button-rejeitar2{
    color: black;
    background-color: #ffffff;
    width: 9em;
    height: 3em;
}
#button-rejeitar:hover, #button-rejeitar2:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(220, 27, 27)
}
#button-info{
    color: black;
    background-color: #ffffff;
    width: 12em;
    height: 3em !important;
    font-size: 14px;
}
#button-info:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(27, 131, 220)
}
#button-addon2{
    color: black;
    background-color: #ffffff;
    width: 9em;
    height: 3em;
}
#button-addon2:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(27, 131, 220)
}
#button-consultaFPQ:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(27, 131, 220)
}
#button-cotacao{
    color: black;
    background-color: #ffffff;
    width: 9em;
    height: 3em;
}
.btn:focus{
    box-shadow: none !important;
}
.swal2-close:focus{
    box-shadow: none !important;
}
#button-cotacao:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(27, 131, 220)
}
#button-novaCotacao{
    color: black;
    background-color: #ffffff;
    width: 9em;
    height: 3em;
}
#button-novaCotacao:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(27, 131, 220)
}
#button-novaCotacao2{
    color: black;
    background-color: #ffffff;
    width: 9em;
    height: 3em;
}
#button-novaCotacao2:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(27, 131, 220)
}
.container-fluid{
    margin-top:1em;
    margin-bottom:1em;
    background: rgba(192, 192, 192, 0.3);
    border-radius: 10px;
    padding: 0.75em;
}
.container-fluid2{
    margin-top:1em;
    margin-bottom:1em;
    background: rgba(192, 192, 192, 0.3);
    border-radius: 10px;
    padding: 0.2em;
    margin-left: 1em;
}
.container-fluid input{
    margin-left: 3em;   
}
.card{
    margin: 2em;
}
.containerExterno{
    position: fixed;
    top:4em !important;
    right:2em !important;
    text-align: left !important;
    max-height: 80%;
    overflow-y:auto !important;
    border-radius:10px !important;  
    overflow-x: hidden;
    padding:1.5em;
}
.itensNovos{
    font-size: 14px;
    margin-top:0.2em;
    padding:0.5em;
}
#titleItens{
    font-size: 16px !important;
}
#btn-slide{
    color: #0000007e !important;
    background: #0000007e !important;
}
#info-qntItens{
    left: 2em;
    position: absolute;
    margin-left: 1px !important;
    font-size: 14px;
    font-weight: bold;
}
.carousel-inner { padding: 0px !important; }
.fundinSol{
    margin-top: 2em;; margin-bottom: 2em;
    padding-top: 1em; padding-bottom: 1.7em;
    background: rgba(0, 123, 255, 0.15);
    border-radius: 5px ;
    border: 1px solid rgba(0, 123, 255, 0.35);
}
.fundinItens{
    z-index: 1;
    height: 20em;
    margin-top: 2em; margin-bottom: 2em;
    width: 100% !important;
    padding-top: 1em; padding-bottom: 1.7em !important;
    background: rgba(255, 255, 255, 0.793);
    border-radius: 5px ;
    border: 1px solid rgba(0, 0, 0, 0.35);
}
.pageInfoContainer{
    margin-left: auto !important; margin-right: auto !important; margin-bottom:2em; 
    width: 80%;
    z-index: 9999;
}
.pageInfo-linhas{
    margin-top:0.5em;
    line-height: 3em !important;
    font-size: 14px;
    /* color:#560101 */
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


/* CONFIGURAÇÕES MODAL SWEETALERT2 */
.swal2-popup {
    color: black !important;
    }
.swal2-title {
    font-size: 35px !important;
    color: rgb(27, 27, 27) !important;
}
.swal2-html-container{
    text-align: left;
    padding: 0 0;
    margin: 0 0;
    overflow-x: hidden;
}
.swal2-actions{
    margin: 0;
    margin-top: 0.2em;
}
#dataTable4 td,th {
    font-size: 16px;
  }
.swal2-html-container #areaUso,.swal2-html-container #prioridade, .swal2-html-container #motivo_solicitacao, .selectClass1{
    margin-left: 8% !important;
    margin-top: 3%;
    width: 80%;
    box-sizing: border-box;
    transition: border-color .1s,box-shadow .1s;
    border: 1px solid #d9d9d9;
    border-radius: 0.1875em;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 6%), 0 0 0 3px rgb(0 0 0 / 0%);
    color: inherit;
}
.selectClass1:focus, .selectClass1:active, .selectClass1:hover{
    box-sizing: border-box;
    outline: none;
    transition: border-color .1s,box-shadow .1s;
    border: 3px solid rgba(0, 123, 255, 0.35) !important;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 6%), 0 0 0 3px rgb(0 0 0 / 0%);
    color: inherit;
}
.selectClass1{
    height: 2.5em;
    font-size:14px;
}
.select-item{
    display: hidden;
}
.swal2-html-container{
    text-align: center;
    margin-top: 1.5em;
}
.swal2-input{
    padding:1em;
    margin: 0 !important;
    box-sizing: border-box;
}
.swal2-html-container input{
    font-size: 14px;
    height: 2.5em;
}
.swal2-html-container input::placeholder {
    font-size: 14px;
    color:rgba(0, 0, 0, 0.544);
}

.swal2-html-container textarea{
    font-size: 14px;
}

.swal2-html-container textarea::placeholder {
    font-size: 14px;
}

/* CONFIGURAÇÕES SIDEBAR */
.side-bar{
    position: fixed;
    width: 220px;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    left: -100%;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    transition: 0.6s ease;
    transition-property: left;
    z-index: 1001;
}
.side-bar.active{
    left: 0;
}
.side-bar2{
    position: fixed;
    width: 220px;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    left: 0;
    z-index: 1001
}
.side-bar2.active{
    left: -100%;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    transition: 0.6s ease;
    transition-property: left;
    z-index: 1001;
}
.side-bar2 .menu{
    width: 100%;
    margin-top: 50px;    
}
.side-bar2 .menu .item{
    position: relative;
    text-align: left;
    cursor: pointer;
}
.side-bar2 .menu .item a{
    color:#ffffff;
    background: rgba(0, 0, 0, 0.3);
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    display: block;
    padding: 5px 12px;
    line-height: 60px;
}
.side-bar2 .menu .item a:hover{
    background: #a8a8a8;
    transition: 0.3s ease;
}
.side-bar2 .menu .item i{
    margin-right: 5px;
} 
.side-bar2 .menu .item a .dropdown{
    position: absolute;
    right: 0;
    margin: 20px;
    transition: 0.3s ease;
}
.side-bar2 .menu .item .sub-menu{
    background: rgba(0, 0, 0, 0.3);
    display: none;
}
.side-bar2 .menu .item .sub-menu2{
    background: rgba(0, 0, 0, 0.3);
    display: none;
}
.side-bar2 .menu .item .sub-menu2 a{
    padding-left: 50px;
    font-size: 12px;
    line-height: 35px;
}
.side-bar2 .menu .item .sub-menu a{
    padding-left: 50px;
    font-size: 12px;
    line-height: 35px;
}
.side-bar .menu{
    width: 100%;
    margin-top: 50px;    
}
.side-bar .menu .item{
    position: relative;
    text-align: left;
    cursor: pointer;
}
.side-bar .menu .item a{
    color:#ffffff;
    background: rgba(0, 0, 0, 0.3);
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    display: block;
    padding: 5px 12px;
    line-height: 60px;
}
.side-bar .menu .item a:hover{
    background: #a8a8a8;
    transition: 0.3s ease;
}
.side-bar .menu .item i{
    margin-right: 5px;
} 
.side-bar .menu .item a .dropdown{
    position: absolute;
    right: 0;
    margin: 20px;
    transition: 0.3s ease;
}
.side-bar .menu .item .sub-menu{
    background: rgba(0, 0, 0, 0.3);
    display: none;
}
.side-bar .menu .item .sub-menu2{
    background: rgba(0, 0, 0, 0.3);
    display: none;
}
.side-bar .menu .item .sub-menu2 a{
    padding-left: 50px;
    font-size: 12px;
    line-height: 35px;
}
.side-bar .menu .item .sub-menu a{
    padding-left: 50px;
    font-size: 12px;
    line-height: 35px;
}
.rotate{
    transform: rotate(90deg);
}
.rotate2{
    transform: rotate(90deg);
}
.close-btn{
    position: absolute;
    color: #ffffff;
    font-size: 20px;
    right: 0;
    margin: 15px;
    cursor: pointer;
}
.menu-btn{
    position: fixed;
    color: #000000;
    font-size: 20px;
    margin: 25px;
    cursor: pointer;
    margin-top: 1%;
    z-index: 1005;
}
#addItem{
    font-size:19px;
    color:#02d224;
    cursor:pointer;
}
#addItem:hover{
    color:#0d6efd;
}


/* CONFIGURAÇÕES DATATABLES */
#dataTable2_info, #dataTable3_info{
    float: left;
}
#dataTable2_length,#dataTable3_length{
    float: left;
}
.pagination > li > a, .pagination > li > span{background-color:rgb(255, 255, 255);color: black;}
.pagination > li.active > a, .pagination > li.active > span{background-color:rgb(124, 124, 124);color: rgb(255, 255, 255);border: 1px solid black;}
#subButton{
    color: black;
    background-color: #ffffff;
}
#subButton:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(27, 131, 220)
}
.comprasPendentes{
    width: 1000px !important;
}
.swal2-html-container #dataTable4_wrapper div {
    margin-top: 0.5em;  
}
.dataTables_length{
    display: none;
}
#dataTable4_filter{
    text-align: right;
}
#dataTable4_filter label{
    text-align: left !important;
}