<script type="text/javascript" charset="utf8" src="../static/imports/dataTables.select.min.js"></script>
<script type="text/javascript" charset="utf8" src="../static/imports/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript" charset="utf8" src="../static/imports/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="../static/imports/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="../static/imports/dataTables.bootstrap5.js"></script>
<script language=javascript src="../static/javascript/funcs.js" type="text/javascript"></script>
<script language=javascript src="../static/javascript/popup.js" type="text/javascript"></script>
<script src="../static/imports/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<script src="../static/imports/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>